:root {
  --font: "Open Sans";
  --back-ground-color: #343148ff;
  --text-color: #d7c49eff;
}
/* Body Styling */

html,
body,
#home {
  background: var(--back-ground-color);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: var(--font);
  color: var(--text-color);
  min-height: 100vh;
}

.h1 {
  font-weight: 650;
  font-size: 100px;
  margin: 0px;
  font-family: var(--font);
}

.h2 {
  font-size: 55px;
  margin: 0px;
  font-family: var(--font);
}

.h3 {
  font-size: 20px;
  margin: 0%;
}

.h4 {
  margin: 0%;
}

.h5 {
  margin: 0%;
}

.paragraph {
  font-size: 25px;
  margin-top: 0px;
  font-family: var(--font);
}

.paragraph#intro {
  font-family: var(--font);
  text-decoration: none;
}

/* Nav Bar Styling */

#navbar {
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0px;
  background: var(--back-ground-color);
  z-index: 1;
  min-width: 800px;
}

.navbar-links {
  margin-top: 2%;
  margin-right: 3%;
  text-decoration: none;
  color: white;
  font-weight: 540;
  float: right;
}

.navbar-links:hover {
  color: #d7c49eff;
}
